{% extends 'base.html.twig' %}
{% block title %}Profile{% endblock %}
{% block menu %}
    {% from 'macros/profile.image.html.twig' import profile_image %}
        <a href="{{ path('profile_image') }}">{{ profile_image(profile.imageUrl) }}</a>
    {% include 'profile/menu.html.twig' %}
{% endblock %}
{% block content %}
    <div class="panel panel-default">
    {% from "profile/profile.image.moderation.status.html.twig" import profile_image_moderation_status %}
    {{ profile_image_moderation_status(profile.imagePresent, profile.imageUnmoderated, profile.imageRejected) }}
    <div class="panel-body">
        <h2>
            {{ profile.username }}
            <small class="text-muted">{{ sex.name|trans({}, 'attributes') }}, {{ profile.age }}. {{ profile.cityName }}, {{ profile.regionName }}.</small>
        </h2>

        <table class="table table-striped" style="width: auto;">
            <tr>
                <td>{{ 'relationship.looking_for'|trans }}</td>
                <td><ul>
                        {% for sex in sexes %}
                            <li>{{ sex.name|trans({}, 'attributes') }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>{{ 'relationship.relationship'|trans }}</td>
                <td>{{ relationship.name|trans({}, 'attributes') }}</td>
            </tr>
        </table>
        {{ profile.about|nl2br }}
    </div>
{% endblock %}