{% extends 'base.html.twig' %}
{% block title %}{{ 'user.update_password'|trans }}{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block content %}
    <h1>{{ 'user.update_password'|trans }}</h1>
    {{ form_start(passwordUpdateForm) }}
    {{ form_row(passwordUpdateForm.password.first) }}
    {{ form_row(passwordUpdateForm.password.second) }}
    {{ form_row(passwordUpdateForm.secret) }}
    {{ form_row(passwordUpdateForm.userId) }}
    {{ form_row(passwordUpdateForm.submit) }}
    {{ form_end(passwordUpdateForm) }}
{% endblock %}
