{% extends 'base.html.twig' %}
{% block title %}{{ 'user.reset_password'|trans }}{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block content %}
    <h1>{{ 'user.reset_password'|trans }}</h1>
    {{ form_start(passwordResetForm) }}
    {{ form_row(passwordResetForm.email) }}
    {{ form_row(passwordResetForm.submit) }}
    {{ form_end(passwordResetForm) }}
{% endblock %}
