{% extends 'base_unauthenticated.html.twig' %}
{% block title %}{{ 'user.register'|trans }}{% endblock %}
{% block body %}
    {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
    {{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}
    <h1 class="font-weight-normal">{{ 'user.register'|trans }}</h1>
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.password) }}
    {{ form_row(registrationForm.agreeTerms) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="register">{{ 'user.register'|trans }}</button>
    <a class="btn btn-lg btn-primary btn-block" href="{{ path('login') }}" id="login">{{ 'user.login'|trans }}</a>
    {{ form_end(registrationForm) }}
{% endblock %}
